# Ignore temporary Excel/Office files
~$*
*~$*
*.tmp
*.temp
.DS_Store

# Ignore user-specific setting files
*.usr
*.user
*.suo
.*

# Ignore exported form binary files
*.frx

# Ignore Hypack files
*.rtz
*.lnm
Raw/*
Output/*
Autolines/*